<%- include('templates/header'); -%>
<div class="d-flex align-items-center justify-content-center vh-100 bg-primary">
  <div class="text-center">
    <h1 class="display-3 fw-bold text-white">404</h1>
    <p class="fs-3"><span class="text-danger">Page Not Found</span></p>
    <p class="lead">Please cek your route</p>
    <a href="/" class="btn btn-check text-white"> Back</a>
  </div>
</div>
