

  <body>
    
    <%- include('templates/header', {title: 'Binar FSW Chap-3 Challenge'}) %> 

    <!-- SECTION - MAIN SCREEN -->
    <section class="section-main-screen">
      <!-- <header class="header navbar navbar-expand-lg navbar-dark">
        <div class="main-container container-fluid">
          <i class="logo fa-solid fa-gamepad"></i>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <nav class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="nav-main">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">work</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">contact</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">about me</a>
                </li>
              </ul>
            </div>

            <div class="nav-signup">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">sign up</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="#">login</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </header> -->

      <%- include('templates/header-navbar'); -%>


      <div class="hero">
        <div class="hero-container container-fluid">
          <h1 class="heading-primary">play traditional <span>game</span></h1>

          <p class="hero-text">Experience new traditional game play</p>

          <button type="button" class="hero-btn btn btn-warning btn-lg " >
           <a href="game"> play now</a>
          </button>
        </div>
      </div>

      <div class="story-container container-fluid">
        <a class="story-btn" href="#" role="button">
          <p class="story-text">The story</p>

          <svg
            class="story-icon"
            width="23"
            height="12"
            viewBox="0 0 23 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M21.5786 1.83362H1.32422L11.338 10.0027L21.5786 1.83362Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </a>
      </div>
    </section>

    <!-- SECTION - GAME CHOICE -->
    <section class="section-game-choice">
      <div class="game-choice container-fluid row">
        <div class="col-lg-4">
          <div class="game-text-container">
            <p class="sub-heading game-choice-heading">What's so special?</p>

            <h2 class="heading-secondary game-choice-heading">the games</h2>
          </div>
        </div>

        <div class="col-lg-8">
          <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="true"
            data-bs-interval="3000"
          >
            <div class="carousel-indicators">
              <button
                class="carousel-ind active"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                aria-current="true"
                aria-label="Slide 1"
              ></button>

              <button
                class="carousel-ind"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>

              <button
                class="carousel-ind"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>

              <button
                class="carousel-ind"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="3"
                aria-label="Slide 4"
              ></button>

              <button
                class="carousel-ind"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="4"
                aria-label="Slide 5"
              ></button>
            </div>

            <div class="C-custom">
              <button
                class="carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev"
              >
                <svg
                  width="20"
                  height="38"
                  viewBox="0 0 20 38"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M18 1.70007L18 35.7001L2 18.8904L18 1.70007Z"
                    stroke="white"
                    stroke-width="3.36454"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="visually-hidden">Previous</span>
              </button>

              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img
                    src="img/rockpaperstrategy-1600.jpg"
                    class="carousel-img d-block w-100"
                    alt="Game"
                  />
                </div>

                <div class="carousel-item">
                  <img
                    src="img/R_Wallpaper_02.jpg"
                    class="carousel-img d-block w-100"
                    alt="Game"
                  />
                </div>

                <div class="carousel-item">
                  <img
                    src="img/binar.jpg"
                    class="carousel-img d-block w-100"
                    alt="Game"
                  />
                </div>

                <div class="carousel-item">
                  <img
                    src="img/rockpaperstrategy-1600.jpg"
                    class="carousel-img d-block w-100"
                    alt="Game"
                  />
                </div>

                <div class="carousel-item">
                  <img
                    src="img/R_Wallpaper_02.jpg"
                    class="carousel-img d-block w-100"
                    alt="Game"
                  />
                </div>
              </div>

              <button
                class="carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next"
              >
                <svg
                  width="18"
                  height="39"
                  viewBox="0 0 18 39"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.82153 2.65635L1.82153 36.7297L15.5642 19.8838L1.82153 2.65635Z"
                    stroke="white"
                    stroke-width="3.36454"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION - FEATURE -->
    <section class="section-feature">
      <div class="feature-container">
        <div class="container-fluid">
          <div class="feature-heading">
            <p class="sub-heading">What's so special?</p>

            <h2 class="heading-secondary">features</h2>
          </div>

          <div class="feature-box open">
            <button class="feature-btn" role="button"></button>

            <div class="feature">
              <p class="feature-title">traditional game</p>

              <p class="feature-text">
                if you miss your childhood, we provide many traditional games
                here
              </p>
            </div>
          </div>

          <div class="feature-box">
            <button class="feature-btn" role="button"></button>

            <div class="feature">
              <p class="feature-title">game suit</p>

              <p class="feature-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
            </div>
          </div>

          <div class="feature-box">
            <button class="feature-btn" role="button"></button>

            <div class="feature">
              <p class="feature-title">TBD</p>

              <p class="feature-text">
                Quas a officiis sunt optio sed corporis mollitia repellat error.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION - REQUIRMENT -->
    <section class="section-req">
      <div class="req-container">
        <div class="container-fluid">
          <p class="req-sub-heading">Can My Computer Run this game?</p>
          <h2 class="heading-secondary heading-req">
            <span>system</span>
            <span>requirements</span>
          </h2>
          
            <div class="req-table">
              <div class="row-req row">
                <div class="req-col col-md-6">
                  <p class="req-title">
                    OS:
                  </p>
    
                  <p class="req-text">
                    <span>Windows 7 64-bit only</span>
                    <span>(No OSX support at this time)</span>
                  </p>
                </div>
    
                <div class="req-col col-md-6">
                  <p class="req-title">
                    processor:
                  </p>
    
                  <p class="req-text">
                    <span>Intel Core 2 Duo @ 2.4 GHZ or</span>
                    <span>AMD Athlon X2 @ 2.8 GHZ</span>
                  </p>
                </div>
              </div>
    
              <div class="row-req row">
                <div class="req-col col-md-6">
                  <p class="req-title">
                    memory:
                  </p>
    
                  <p class="req-text">
                    <span>4 GB RAM</span>
                  </p>
                </div>
    
                <div class="req-col col-md-6">
                  <p class="req-title">
                    storage:
                  </p>
    
                  <p class="req-text">
                    <span>8GB available space</span>
                  </p>
                </div>
              </div>
    
              <div class="row-req row">
                <div class="req-col col-md-12">
                  <p class="req-title">
                    graphic:
                  </p>
    
                  <p class="req-text">
                    <span>NVDIA Geforce GTX 660 2GB or</span>
                    <span>AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</span>
                  </p>
                </div>
              </div>
            </div>
  
            </div>
        </div>
      </div>
    </section>

    <!-- SECTION - TOP SCORES -->
    <section class="section-score">
      <div class="score-container">
        <div class="container-fluid">
          <div class="score-row row">
            <div class="text-col col-lg-6">
              <h2 class="heading-secondary">
                <span>top</span>
                <span>scores</span>
              </h2>

              <p class="score-text">
                This top scores from various games provided on this platform
              </p> 

              <button type="button" class="hero-btn btn btn-warning btn-lg">
                see more
              </button>
            </div>

            <div class="testimony-col col-lg-6">
              <!-- player box 1 -->
              <div class="player-box">
                <div class="player-profile">
                  <div class="player-img-box">
                    <img class="player-img" src="img/evan-lahti.jpg" alt="evan lahti traditional game player">
                  </div>

                  <div class="player-name-box">
                    <p class="player-name">
                      Evan Lahti
                    </p>

                    <p class="player-job">
                      PC Gamer
                    </p>
                  </div>
                    
                    <i class="player-media fa-brands fa-twitter"></i>
                </div>

                <div class="player-post">
                  <p class="post">
                    "One of my gaming highlights of the year"
                  </p>

                  <p class="date">
                    June 18, 2021
                  </p>
                </div>
              </div>

              <!-- player box 2 -->
              <div class="player-box">
                <div class="player-profile">
                  <div class="player-img-box">
                    <img class="player-img" src="img/jada-griffin.jpg" alt="evan lahti traditional game player">
                  </div>

                  <div class="player-name-box">
                    <p class="player-name">
                      Jada Griffin
                    </p>

                    <p class="player-job">
                      Nerdreactor
                    </p>
                  </div>
                    
                    <i class="player-media fa-brands fa-twitter"></i>
                </div>

                <div class="player-post">
                  <p class="post">
                    "The next big thing in the world of streaming and survival games."
                  </p>

                  <p class="date">
                    July 10, 2021
                  </p>
                </div>
              </div>

              <!-- player box 3 -->
              <div class="player-box">
                <div class="player-profile">
                  <div class="player-img-box">
                    <img class="player-img" src="img/aaron-williams.jpg" alt="evan lahti traditional game player">
                  </div>

                  <div class="player-name-box">
                    <p class="player-name">
                      Aaron Williamns
                    </p>

                    <p class="player-job">
                      Uproxx
                    </p>
                  </div>
                    
                    <i class="player-media fa-brands fa-twitter"></i>
                </div>

                <div class="player-post">
                  <p class="post">
                    "Snoop Dogg Playing The Wildly Entertaining 'SOS' is Ridiculos."
                  </p>

                  <p class="date">
                    December 24, 2018
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- SECTION - CTA -->
    <section class="section-cta">
      <div class="cta-container row">
        <div class="cta-img-col col-lg-5">
          <div role="img"></div>
          <img class="cta-img" src="img/skull.png" alt="Skull">
        </div>

        <div class="cta-col col-lg-7">
          <p class="cta-sub sub-heading">
            Want to stay in touch?
          </p>

          <h2 class="cta-heading heading-secondary">
            <span>newsletter</span>
            <span>subscribe</span>
          </h2>

          <p class="cta-text">
            in order to recieving our news, all you have to do is enter your email address. Everything else will be take care of by us. We will send you emails containing information about game . We don't spam.
          </p>

          <div class="cta-subscribe">
            <div class="input">
              <label for="mail">Your email address</label>
              <input id="mail" type="email" placeholder="Youremail@binar.co.id">
            </div>

            <button type="button" class="hero-btn btn btn-warning">
                Subsrcibe now
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="footer-container">
        <div>
          <nav>
            <ul class="footer-nav">
              <li>
                <a href="#">main</a>
              </li>
  
              <li>
                <a href="#">about</a>
              </li>
  
              <li>
                <a href="#">game feature</a>
              </li>
  
              <li>
                <a href="#">system requirements</a>
              </li>
  
              <li>
                <a href="#">quotes</a>
              </li>
  
              <li>
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
              </li>
  
              <li>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
              </li>
  
              <li>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
              </li>
  
              <li>
                <a href="#"><i class="fa-brands fa-twitch"></i></a>
              </li>
            </ul>
          </nav>
        </div>

        <div class="footer-copyright">
          <p class="copyright">
            &copy; 2022 Your Games, Inc. All Right Reserved
          </p>

          <nav>
            <ul class="footer-nav">
              <li>
                <a href="#">Privacy Policy</a>
              </li>

              <li>
                <a href="#">Term of Services</a>
              </li>

              <li>
                <a href="#">Code of Conduct</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </footer>
  </body>

<%- include('templates/footer'); -%>

