<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      rel="stylesheet"
    />
    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <section class="py-5 h-100">
      <div class="container" style="margin-top: 10%">
        <!-- <a href="/sales/new">New</a> -->
        <table class="table">
          <thead>
            <th>Username Player</th>
            <th>Game playing</th>
            <th>Last Playing</th>
            <th>Detail</th>
          </thead>

          <tbody>
            <% if(data) { %> <% data.forEach(function (d) { %>
            <tr>
              <td><%= d.name %></td>
              <td><%= d.id_user_game %></td>
              <td><%= d.total_playing %></td>
              <td>
                <a href="/playing-detail/<%= d.id %>" class="btn btn-primary"
                  >Detail</a
                >
              </td>
            </tr>

            <% }) %> <% } else { %>

            <tr colspan="3">
              Tidak ada data
            </tr>

            <% } %>
          </tbody>
        </table>
      </div>
    </section>
    <a href="/" class="btn btn-primary"> back</a>
  </body>
  <!-- </html> -->

  <%- include('templates/footer'); -%>
</html>
