<%- include('templates/header', {title: 'Binar FSW '}); -%> <%-
include('templates/header-navbar' ); -%>

<body>
  <!-- <section class="vh-100" style="background-color: #f4f5f7">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-lg-6 mb-4 mb-lg-0">
          <div class="card mb-3" style="border-radius: 0.5rem">
            <div class="row g-0">
              <div
                class="col-md-4 gradient-custom text-center text-white"
                style="
                  border-top-left-radius: 0.5rem;
                  border-bottom-left-radius: 0.5rem;
                "
              >
                <img
                  src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar"
                  class="img-fluid my-5"
                  style="width: 80px"
                />
                <h5>dsd</h5>
                <p>Web Designer</p>
                <i class="far fa-edit mb-5"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body p-4">
                  <h6>Information</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Email</h6>
                      <p class="text-muted"><%= data.name %></p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Phone</h6>
                      <p class="text-muted">123 456 789</p>
                    </div>
                  </div>
                  <h6>Projects</h6>
                  <hr class="mt-0 mb-4" />
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <p class="text-muted">Lorem ipsum</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"
                      ><i class="fab fa-facebook-f fa-lg me-3 mr-3"></i
                    ></a>
                    <a href="#!"
                      ><i class="fab fa-twitter fa-lg me-3 mr-3"></i
                    ></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg mr-3"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="py-5 h-100">
    <div class="container" style="margin-top: 10%">
      <a href="/login">New Game</a>
      <% if(message) { %>
      <div class="alert alert-primary" role="success"><%= message %></div>
      <% }%>
      <table class="table">
        <thead>
          <th>Username Player</th>

          <th>Action</th>
        </thead>

        <tbody>
          <% if(data) { %> <% data.forEach(function (d) { %>
          <tr>
            <td><%= d.username %></td>
            <td>
              <a href="/login/update/<%= d.id %>">Update</a>
              <a href="/user/delete/<%= d.id %>">Delete</a>
            </td>
          </tr>
          <% }) %> <% } else { %>

          <tr colspan="3">
            Tidak ada data
          </tr>

          <% } %>
        </tbody>
      </table>
    </div>
  </section>
</body>
<!-- </html> -->

<%- include('templates/footer'); -%>
