<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <!-- CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      rel="stylesheet"
    />
    <!-- JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </head>

  <body style="padding: 0px !important">
    <div class="container h-100">
      <div class="row h-100 justify-content-center align-items-center">
        <form
          action="/login/update/<%= data.id %>"
          method="POST"
          class="col-md-4 mt-4 card"
        >
          <h2>Login</h2>
          <% if(message) { %>
          <div class="alert alert-primary" role="success"><%= message %></div>
          <% }%>

          <div class="form-group">
            <label>Username:</label>
            <input
              type="username"
              name="username"
              class="form-control"
              placeholder="Masukan Username anda"
              value="<%= data.username %>"
              required
            />
          </div>
          <div class="form-group">
            <label>Password:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              placeholder="Masukan password"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary mb-1">Update</button>
        </form>
      </div>
    </div>
  </body>
</html>
