<script src="/bootstrap/js/bootstrap.min.js"></script>


  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"
  ></script>

  <!-- Font Awesome -->
  <script
    src="https://kit.fontawesome.com/2613e9e9dd.js"
    crossorigin="anonymous"
  ></script>

</body>
</html>
