<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>Hallo</title> -->

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap/js/bootstrap.min.js" />
    <link rel="stylesheet" href="/css/home/style.css" />
    <link rel="stylesheet" href="/css/home/queries.css" />
    <!-- Favicon -->
    <link rel="icon" href="img/icon.ico" />

    <title><%- title %></title>
  </head>
  <body></body>
</html>
