<header class="header navbar navbar-expand-lg navbar-dark">
  <div class="main-container container-fluid">
    <i class="logo fa-solid fa-gamepad"></i>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <nav class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="nav-main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/playing">Playing</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/">contact</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/me">about me</a>
          </li>
        </ul>
      </div>

      <div class="nav-signup">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/register">sign up</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/login ">login</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
